<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="base :: headCust">
    <meta charset="UTF-8">
</head>
<body>

<div th:replace="base :: navlinks"></div>
<h2>Home</h2>
<p>Sejam Bem-Vindos!</p>
<p>texto texto texto texto texto texto texto texto
texto texto texto texto texto texto texto texto
texto texto texto texto texto texto texto texto
texto texto texto texto texto texto texto texto
texto texto texto texto texto texto texto texto</p>
<div th:replace="base :: footer"></div>

</body>
</html>